body {
	background-image:
    radial-gradient(
      circle at bottom right,
      #3f87d9,
      #bddbf5
    );
    font-family: sans-serif;
}		


.app-layout{
	margin:auto;
	display: grid;
	height: 100vh;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: "header header menu3 menu4 menu5" "sidebar menu1 display display display" "sidebar menu2 display display display";
	grid-gap:10px;
}


#uno{
	background-image: url("../images/Echurch.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	grid-area: header;
	text-align:center;
}

#sidebar{
	background: #3f87ff;
	grid-area:sidebar;
	padding: 10px;
}

#compo1{
	grid-area:menu1;
}

#compo2{
	grid-area:menu2;
}

#compo3{
	grid-area:menu3;
}

#compo4{
	grid-area:menu4;
}

#compo5{
	grid-area:menu5;
}

#display{
	background-image: url(../images/dove.jpg);
	background-color: #47d;
	background-blend-mode:screen;
	background-size: cover;
	border-radius:25px;
	grid-area:display;
	padding:10px;
}

.menuItem{
	border-radius: 15px;
	background-size: cover;
	background-color: hsl(209, 40%, 75%);
	background-blend-mode: luminosity;
	transition: .5s background-color;
	text-align: center;
	cursor: pointer;
	color:#e600ac;
}

.menuItem:hover {
	background-color: transparent;
}

@media screen and (max-width: 720px) {
	.app-layout{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: "header header header" "menu1 menu2 menu3" "menu4 menu5 ." "display display display" "sidebar sidebar sidebar";
	grid-gap:10px;
}

}

